* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.container {
    background: linear-gradient(135deg, #6a80ad, #d37fe8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
}
td {
    padding: 10px;
    color: white;
}
#songs {
    display: flex;
    align-items: center;
    justify-content: center;
}
#gender {
    display: flex;
    
}
input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
}
.button-container {
    text-align: center;
    padding-top: 20px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="reset"] {
    background-color: #ff5945;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="reset"]:hover,
input[type="submit"]:hover {
    background-color: #45a049;
}
